*.iml
.gradle/
.idea/
.cxx/
local.properties
**/build/
captures/
*.apk
!releases/*.apk
*.ap_
*.dex
*.class
.DS_Store
*.jks
*.keystore
!debug.keystore
.externalNativeBuild/
.kotlin/
*.log
.navigation/
*.hprof
.vscode/
*.swp
